.DigitalClock {
  background-color: white;
  border-radius: 10px 10px;
  color: black;
  display: flex;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  justify-content: space-around;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  margin-top: 20px;
  opacity: 70%;
  padding: 8px;
  text-align: center;
  width: 12rem;
}