html {
  background: linear-gradient(to top, #006466, #065a60, #0b525b, #144552, #1b3a4b, #212f45, #272640, #312244, #3e1f47, #4d194d );
  min-height: 100%;
}

body {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 2.7rem;
  min-height: 100%;
  padding: 50px; 
}

h3 {
  text-align: center;
}
